.register-container {
    display: flex;
    height: 72vh; 
    background-image: url('../../assets/10004.jpg'); 
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .register-form-wrapper {
    height: 600px;
    width: 550px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.6);
  }
  
  .register-form {
    margin-top: 170px;
  }
  
  .register-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .register-form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .register-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .register-form-group input {
    width: 96%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-form-group.inline {
    display: flex;
    gap: 137px;
  }
  
  
  .register-form-group.inline input {
    width: calc(100% - 0px)
  } 
  
  .register-button {
    width: 100%;
    padding: 15px 0;
    background-color: #ff8800;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
  }
  
  .register-button:hover {
    background-color: #0056b3;
  }
  
  .register-form p {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #555;
  }
  
  .bottom-anchor {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #ff8800;
  }
  
  .bottom-anchor:hover {
    text-decoration: underline;
  }
  
  .register-form p a {
    color: #ff8800;
    text-decoration: none;
  }
  
  .register-form p a:hover {
    text-decoration: underline;
  }
  
  .info-section {
    font-size: 24px;
    width: 550px;
    padding: 40px;
    border-radius: 8px;
  }
  
  .about {
    text-decoration: none;
    color: #ff8800;
  }
  
  .info-section h2 {
    margin-bottom: 20px;
  }
  
  .info-section p {
    margin-bottom: 15px;
    color: #333;
  }
  
  .how-it-works-button {
    background-color: #ff8800;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .how-it-works-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    font-weight: bold;
    color: red;
  }
  